.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3{
  text-align: center
}

nav{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.remove{
  color: red;
  position: absolute;
  right: 0px;
}

.move{
  color:blue;
  position: relative;
  right: 300px;
}

.save{
  color: green
}

button:active{
  color: black
}

span{
  font-style: italic;
}

span::before{
  content: "*"
}

ul{
  list-style-type: disc
}

/* .header ul li {
  list-style-type: none;
  display: inline-block;
  justify-content: space-between;
} */
nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

nav button {
  background: transparent;
  border: none;
  /* font-weight: bold;
  text-decoration: underline; */
}

nav li {
  display: inline-block;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}



